apiVersion: apps/v1
kind: Deployment
metadata:
    name: guestbook-ui
    labels:
        app.kubernetes.io/name: web-app
spec:
    replicas: 2
    revisionHistoryLimit: 10
    strategy:
    selector:
        matchLabels:
            app.kubernetes.io/name: guestbook-ui
    template:
        metadata:
            labels:
                app.kubernetes.io/name: guestbook-ui
        spec:
            containers:
                - image: nginx:latest
                  imagePullPolicy: Always
                  name: guestbook-ui
                  ports:
                      - containerPort: 80
                  volumeMounts:
                      - name: guestbook-ui-volume
                        mountPath: /usr/share/nginx/html
                      - name: nginx-config-volume
                        mountPath: /etc/nginx/conf.d/
            volumes:
                - name: guestbook-ui-volume
                  persistentVolumeClaim:
                      claimName: nginx-test-nas
                - name: nginx-config-volume
                  configMap:
                      name: nginx-config
